<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664391781685-auqfao61ajkmd0m16hkv2htn0rle1u82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664391781685-auqfao61ajkmd0m16hkv2htn0rle1u82</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5_cPh4gd2SM2MrlrggRxaTBdX98jp4s</string>
	<key>GCM_SENDER_ID</key>
	<string>664391781685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tilly.app</string>
	<key>PROJECT_ID</key>
	<string>tillyassistant-83591</string>
	<key>STORAGE_BUCKET</key>
	<string>tillyassistant-83591.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664391781685:ios:05eeea52cd012e1c60507c</string>
	<key>DATABASE_URL</key>
	<string>https://tillyassistant-83591-default-rtdb.firebaseio.com</string>
</dict>
</plist>